!.env.project
!.env.vault
$RECYCLE.BIN/
*.appconfig
*.cab
*.icloud
*.ignore
*.ignore.*
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.directory
.docusaurus
.dynamodb/
.env
.env*
.env.development.local
.env.local
.env.production.local
.env.test
.env.test.local
.eslintcache
.flaskenv*
.fseventsd
.fuse_hidden*
.fusebox/
.gitignore.d
.grunt
.lock-wscript
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.vscode-test
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
@types/
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
__tests__/runner/*
bower_components
build/Release
coverage
dist/
dist/**/*
docs/
ehthumbs.db
ehthumbs_vista.db
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib/**/*
logs
node_modules
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
typings/
web_modules/
yarn-debug.log*
yarn-error.log*
